body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
}
h1 {
  font-size: 60px;
}
h2 {
  font-size: 40px;
  text-align: center;
}
h3 {
  font-size: 30px;
  line-height: 2em;
}
h4 {
  font-size: 25px;
}
h2 span {
  color: orange;
}
h5 {
  font-size: 40px;
  text-align: center;
  font-family: "Moon Dance", cursive;
  font-weight: bold;
  line-height: 0px;
}
.wrapper {
  margin-right: 50px;
}
.flex-container {
  display: flex;
}
.header-content {
  width: 60%;
  margin-left: 50px;
  margin-top: 120px;
  margin: 120px 50px 0px 50px;
}
.header-content h1 {
  border-left: 6px solid orangered;
  padding-left: 15px;
}
.header-content p {
  margin-top: 50px;
  line-height: 2em;
}
.header-color {
  color: orange;
}
.button {
  background-color: orangered;
  padding: 20px 40px;
  font-size: 20px;
  color: white;
  border-radius: 5px;
  text-decoration: none;
}
.mission-container {
  margin-top: 100px;
}
.mission {
  border-radius: 40px;
  margin: 10px 0px 10px 50px;
  padding: 20px 20px;
}
.mission p {
  font-size: 18px;
  line-height: 2em;
}

#mission-background {
  background-color: aliceblue;
}
#vision-background {
  background-color: pink;
}
#goal-background {
  background-color: oldlace;
}
.dev-container {
  margin-top: 100px;
}
.develop-image {
  width: 40%;
}
.develop-image img {
  width: 90%;
  margin-left: 50px;
}
.develop-content {
  width: 60%;
  margin-left: 100px;
  line-height: 2em;
}
.button-style {
  margin-top: 50px;
}
.contact {
  margin-top: 100px;
}
.contact h2 {
  margin-bottom: 60px;
}
.contact-image {
  width: 50%;
  margin-left: 50px;
}
.contact-image img {
  width: 90%;
}
.contact-form {
  width: 50%;
  margin-top: 30px;
}
.footer-area {
  background-color: black;
  color: white;
  padding: 10px 0px;
  margin-top: 100px;
}
.footer-area span {
  color: orangered;
}
input {
  margin-top: 30px;
  width: 300px;
  padding: 10px;
}
.footer-area p {
  text-align: center;
  color: white;
}
